<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
      th,
      td {
        text-align: left;
      }
    </style>
  </head>

  <body>
    <table>
      <caption>
        <h1>
          FXStreet CSS Classes in use <br /><small
            >Dynamic appearances not included</small
          >
        </h1>
        <h2>
          <%= data.totalPagesCount %> pages found | <%= data.remainPagesCount %>
          left to scrape <strong> || </strong> <%= data.totalClassesCount %>
          classes.
        </h2>
      </caption>
      <thead>
        <tr>
          <th>Class Name</th>
          <th>Appearances</th>
          <th>Pages Where it appears</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i < classList.length; i++) {%>
        <tr>
          <td><strong><%= classList[i].className %></strong></td>
          <td><strong><%= classList[i].appearances %></strong></td>

          <% for (var j=0; j < classList[i].pages.length; j++) {%>
          <td>
            <a href="<%= classList[i].pages[j] %>"
              ><%= classList[i].pages[j] %></a
            >
          </td>
          <% } %> <%} %>
        </tr>
      </tbody>
    </table>
  </body>
</html>
